{% extends "base.html" %}

{% block content %}

    {% for quote in quotes %}

        <blockquote
            {% if quote.is_draft %}
            class="draft"
            {% endif %}
            >

            <p>{{ quote.text }}
                {% if quote.is_draft %}
                    <i>(Draft)</i>
                {% endif %}
            </p>
            <footer>
                — {{ quote.author_name }}
                <a href="{% url "single" quote.id %}">View single</a>
            </footer>
        </blockquote>

    {% endfor %}

    <div>
        <form action="/">
            <input type="text" name="q">
            <input type="submit" value="Filter">
            <a href="{% url "home" %}">All</a>
            <a href="{% url "random" %}">I'm feeling lucky</a>
        </form>
    </div>

{% endblock content %}
